---
layout: archive
---

Sitio web que ofrece apoyo para <b>dejar de fumar fumando</b> una selecta mezcla de distintas hierbas.

<p>
Cuatro fases.<br />
1.- Decidir una fecha para dejarlo, prepararse y adquirir la mezcla. <br />
2.- Sustituir el tabaco por la mezcla durante 3 a 7 días aproximadamente.<br />
3.- Dejar de usar la mezcla pero mantenerla cerca para evitar recaídas.<br />
4.- Liberación.
</p>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "En detalle" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
